@font-face {
    font-family: Asap;
    src: url("../font/Asap-Medium.ttf");
    font-weight: 500;
}
@font-face {
    font-family: Asap;
    src: url("../font/Asap-SemiBold.ttf");
    font-weight: 600;
}

.profile-background{
    position: relative;
    width: 100vw;
    height: 50vh;
    background: url("../background/vin.jpg") no-repeat 0 70% / cover;
}

.background-info-group{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.204);
}

.info-group{
    display: flex;
    position: absolute;
    left: 10rem;
    bottom: 0;
}

.logo-group{
    width: 23rem;
    height: 22rem;
}

.info-group .logo-group img{
    width: 100%;
    /* height: 50%; */
}

.info-group .intro{
    text-transform: uppercase;
    color: white;
}

.info-group .intro h1{
    font-size: 3.5rem;
    padding: 2rem;
}

.info-group .intro p:first-of-type{
    float: left;
    padding-left: 2rem;
    font-size: 1.6rem;
}

.info-group .intro p:last-of-type{
    float: right;
    padding-left: 5rem;
    font-size: 1.6rem;
}

.info-group .intro span{
    font-size: 2.5rem;
}

.info-profile{
    width: 100vw;
    height: 5rem;
    background: white;
    bottom: 0;
    border-bottom: 4px solid #ddd ;
}

.items-list{
    list-style-type: none;
    margin-right: 5rem;
}

.items-list li{
    float: right;
}

.items-list li a{
    position: relative;
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    color: black;
    
    font-size: 15px;
    padding-block: 1.5rem;
    margin-inline: 2rem;
}

.items-list li a::before{
    position: absolute;
    content: "";
    height: 3px;
    width: 100%;
    background-color: #dd5e56;
    left: 0;
    bottom: 0;
    opacity: 0;
    visibility: hidden;
}

.items-list li a:hover::before{
    opacity: 1;
    visibility: visible;
}

.items-list li a:hover{
    color: #dd5e56;
}

