*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 62.5%;
    font-family: Asap;
    font-weight: 500;
    line-height: 1.6rem;
}

.grid{
    width: 1200px;
    display: block;
    max-width: 80%;
    margin-inline: auto;
}

