*{
    box-sizing: inherit;
}

body{
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: "Nunito", sans-serif;
    box-sizing: border-box;
    background-image: url("../background/login-bg2.jpg");
    background-position: 50% 100%;
    background-size: cover;
}

.grid{
    width: 1200px;
    height: 100vh; 
    max-width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
