* {
    box-sizing: inherit;
}

@font-face {
    font-family: "Lobster";
    src: url("../font/Lobster-Regular.ttf");
    font-weight: 400;
}

@font-face {
    font-family: Lato, sans-serif;
    src: url("../font/Lato-Regular.ttf");
    font-weight: 400;
}

  
html {
    /* 
      default browser ==>100% = 16px
      font-size: 100%; 
      font-size: 1rem; ==> 1rem = 16px
    
      ==> 62.5% = 10px
        font-size: 62.5%;
        fonts-size: 1.6rem; ==> 1.6rem = 16px
    */
  
    /* HACK */
    font-size: 62.5%;
    line-height: 1.6rem;
    /* font-family: "Lato", sans-serif; */
    box-sizing: border-box;
}

.grid{
    width: 1200px;
    max-width: 40%;
    margin: 0 auto;
}
