* {
    font-family: Lato, sans-serif;
    font-size: 1.6rem;
}

.div-contact .div-title h2{
    font-family: "Lobster";
    font-weight: 400;
    font-size: 4rem;
}

.div-title p{
    color: rgba(0, 0, 0,0.2);
}

.div-title p span{
    color: red;
}

.div-field{
    border: 0.1rem solid #ddd;
    position: relative;
    /* display: inline-block; */
    display: flex;
    /* justify-content: center; */
    margin-bottom: 3rem;
}

.inp-text{
    width: 100%;
    height: 4.5rem;
    border: none;
    outline: none;
    padding-left: 1rem;
}

textarea{
    border: none;
    outline: none;
    padding-left: 1rem;
}

.first-icon{
    padding: 14px 14px; 
    background: #ddd;
    height: 100%;
    width: 4rem;
    text-align: center;
}

.icon-items i{
    position: absolute;
    width: 20px;
    right: 15px;
    font-size: xx-small;
    margin-top: 18px;
    
    opacity: 0;
    visibility: hidden;
}
.icon-items i:first-child{
    opacity: 1;
    visibility: visible;
}

.div-field:has(.inp-box:focus) .icon-items i:first-child{
    opacity: 0;
    visibility: hidden;
}
.div-field:has(.inp-box:focus) .icon-items i:last-child{
    opacity: 1;
    visibility: visible;
}

.div-field p{
    position: absolute;
    color: white;
    font-size: small;
    padding: 10px 12px;
    background: rgb(0, 0, 0);
    display: none;
    top: -70px;
    left: 50px;
}
.div-field p::after{
    position: absolute;
    content: "";
    border-color: rgb(0, 0, 0) transparent transparent transparent;
    border-width: 10px 12px;
    border-style: solid;
    
    bottom: -18px;
    left: 11px;
}

.div-field:hover p{
    display: flex;
    /* Hiển thị Chú thích Enter your ...*/
}

.div-field:hover .first-icon{
    background: black;
    outline: 0.1rem solid black;
    color: white;
}

.div-field:hover {
    border: 0.1rem solid black;
}

.div-field:focus .first-icon{
    outline: 0.1rem solid black;
    background: black;
    color: white;
}

.div-field:has(.inp-box:focus) {
    border: 0.1rem solid black;
}

.div-field:has(.inp-box:focus) .first-icon{
    background: black;
    color: white;
}

label{
    color: rgba(0, 0, 0,0.2);
}

.div-field.checkbox{
    border: none;
}

.lbl-checkbox::before{
    content: "";
    border: 3px solid #ddd;
    padding:  0px 10px;
    margin-right: 10px;
}

.div-field.checkbox{
    position: relative;
}

.div-field.checkbox input:checked + label::after{
    content: '';
    display: block;
    position: absolute;
    left: 9px;
    top: -1px;
    width: 6px;
    height: 14px;
    border: solid black;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
}

.div-field.checkbox button{
    position: absolute;
    right: 0;
    border: none;
    padding: 10px 50px;
    background: rgb(234, 63, 51);
    color: white;
}



