* {
    box-sizing: inherit;
}

  
html {
    /* 
      default browser ==>100% = 16px
      font-size: 100%; 
      font-size: 1rem; ==> 1rem = 16px
    
      ==> 62.5% = 10px
        font-size: 62.5%;
        fonts-size: 1.6rem; ==> 1.6rem = 16px
    */
  
    /* HACK */
    font-size: 62.5%;
    font-family: Roboto;
    line-height: 1.6rem;
    font-size: 1.2rem;
    box-sizing: border-box;
}

.grid{
    width: 1200px;
    max-width: 60%;
    margin: 0 auto;
}