.color{
    padding-bottom: 1rem;
}

.color .answer{
    display: none;
    padding-left: 40px;
    word-wrap: break-word;
}

.color .question{
    position: relative;
    background: #d85925;
    color: white;
    
    padding: 1px 10px 1px 20px;
    line-height: 2rem;
}

.color .question label{
    display: block;
    padding-left: 1.5rem;
}

.div-icon i{
    position: absolute;
    top: 50%;
    left: 0.5rem;
    transform: translate(50%,-50%);
    opacity: 0;
    visibility: hidden;
}

.div-icon i:first-child{
    opacity: 1;
    visibility: visible;
}

.color .question:has(input:checked) i:first-child{
    opacity: 0;
    visibility: hidden;
}

.color .question i + i{
    opacity: 1;
    visibility: visible;
}

/* .color .question label::before{
    content: "+";
    padding-right: 10px;
    font-size: 1.2rem;
    font-weight: 900;
    line-height: 2rem;
}

.color .question input:checked + label::before{
    content: "-";
    font-size: 1.2rem;
    padding-right: 10px;
    font-weight: 900;
    line-height: 2rem;
} */

.color .question:has(input:checked) + .answer{
    display: flex;
}

