@font-face {
    font-family: Roboto;
    src: url("../font/Roboto-Medium.ttf");
    font-weight: 500;
}
@font-face {
    font-family: Roboto;
    src: url("../font/Roboto-Bold.ttf");
    font-weight: 700;
}
@font-face {
    font-family: Roboto;
    src: url("../font/Roboto-Black.ttf");
    font-weight: 900;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    /* 
      default browser ==>100% = 16px
      font-size: 100%; 
      font-size: 1rem; ==> 1rem = 16px
    
      ==> 62.5% = 10px
        font-size: 62.5%;
        fonts-size: 1.6rem; ==> 1.6rem = 16px
    */
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: Roboto,sans-serif;
    font-weight: 500;
}

.grid{
    width: 1200px;
    max-width: 80%;
    margin: 0 auto;
    padding-block: 10rem;
}

.row{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-inline: -12px;
}

.col-2{
    padding-left: 12px;
    padding-right: 12px;
    width: 16.67%;
    word-wrap: break-word;
}

.col-3{
    position: relative;
    margin-inline: 30px;
    padding-left: 0px;
    padding-right: 0px;
    width: 25%;
    word-wrap: break-word;
}

/* .col-3::after{
    content: "";
    position: absolute;
    inset: 0;
    background-color: #fe6a6a;
    border-radius: 2rem;
    z-index: 0;
    transform-origin: top left;
    transition: transform 0.4s ease-in-out;
} */

.col-4{
    padding-left: 12px;
    padding-right: 12px;
    width: 33.33%;
    word-wrap: break-word;
}

a{
    text-decoration: none;
    font-size: medium;
    color: #000;
}

ul{
    list-style: none;
}

p{
    font-family: Roboto;
    font-size: large;
    font-weight: 500;
    line-height: 4rem;
}

h2{
    font-family: Roboto;
    font-size: 4rem;
    font-weight: 900;
    text-decoration: none;
    text-transform: capitalize;
    line-height: 5rem;
}

h3{
    font-family: Roboto;
    font-size: 2.5rem;
    font-weight: 700;
    text-decoration: none;
    /* text-transform: capitalize; */
    line-height: 5rem;
}