/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Sofia Sans", sans-serif;
}

input,
button,
textarea,
select {
  outline: none;
  border: none;
  font-family: inherit;
}

a {
  text-decoration: none;
}

.wrapper-inner {
  max-width: 1200px;
  margin: 0 auto;
  padding-block: 0 6rem;
  padding-inline: 6rem;
  display: grid;
  grid-template-columns: 1.3fr repeat(4, 1fr);
  grid-template-rows: auto 1fr 1fr 1fr 1fr;
  gap: 0px 38px;
  grid-auto-flow: row;
  grid-template-areas: "sidebar header header header header" "sidebar main main main main" "sidebar main main main main" "sidebar main main main main" "sidebar main main main main";
}

.sidebar {
  position: relative;
  display: flex;
  flex-direction: column;
  grid-area: sidebar;
  padding: 5rem 0 0 5rem;
}
.sidebar .heading {
  margin-top: 6rem;
  text-transform: capitalize;
  font-size: 3.2rem;
  font-weight: 800;
}
.sidebar .nav {
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
  margin-top: 5rem;
}
.sidebar .nav-item {
  display: flex;
  align-items: center;
  padding: 6px;
  border-radius: 8px;
  column-gap: 11px;
  font-size: 1.5rem;
  font-weight: 600;
  color: #000;
  transition: background-color 0.5s;
}
.sidebar .nav-item .icon {
  width: 2.2rem;
  height: 2.2rem;
}
.sidebar .nav-item span {
  font-size: 2rem;
}
.sidebar .nav-item:hover {
  background-color: #ebebeb;
}
.sidebar .chat-btn {
  position: fixed;
  bottom: 0;
  transform: translateY(-100%);
  display: flex;
  align-items: center;
  margin-top: auto;
  font-size: 1.6rem;
  font-weight: 600;
  column-gap: 18px;
  background-color: transparent;
  cursor: pointer;
}
.sidebar .chat-btn .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  background-color: #f6f6f6;
  transition: background-color 0.5s linear;
}
.sidebar .chat-btn:hover .icon {
  background-color: #ebebeb;
}

.header {
  grid-area: header;
  display: flex;
  align-items: center;
  height: 128px;
}
.header .search-form {
  display: flex;
  align-items: center;
  column-gap: 18px;
  margin-right: auto;
}
.header .search-form .search {
  font-weight: 600;
  background-color: white;
  font-size: 1.8rem;
}
.header .search-form .search::placeholder {
  color: rgba(0, 0, 0, 0.2);
}
.header .nav {
  display: flex;
  column-gap: 45px;
}
.header .nav .nav-link {
  font-size: 1.6rem;
  position: relative;
  font-size: 2rem;
  font-weight: 600;
  color: #000;
  padding: 1.5rem 0;
}
.header .nav .nav-link::after {
  content: "";
  position: absolute;
  transform: translateY(-200%);
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: #000;
  transition: width 0.4s ease-in-out;
}
.header .nav .nav-link:hover::after, .header .nav .nav-link.active::after {
  width: 100%;
}
.header .actions {
  display: flex;
  align-items: center;
  column-gap: 2.5rem;
  margin-left: 50px;
}
.header .toggle-nav {
  display: none;
  font-size: 2.4rem;
}

.main {
  grid-area: main;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-flow: dense;
  grid-auto-rows: 188px;
  gap: 22px;
}
.main .wide {
  grid-column: span 2;
}
.main .tall {
  grid-row: span 2;
}
.main img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 16px;
}

@media screen and (max-width: 575px) {
  .wrapper-inner {
    padding: 12px;
    display: block;
  }
  .main .wide {
    grid-column: span 2;
  }
  .main .tall {
    grid-column: span 2;
  }
  .header {
    position: relative;
    flex-direction: row;
    column-gap: 30px;
    justify-content: center;
    align-items: center;
    height: auto;
  }
  .header .search-form,
  .header .actions {
    margin: 0;
    padding: 20px 0;
  }
  .header .search-form {
    order: 1;
    flex: 99;
  }
  .header .actions {
    justify-content: center;
    order: 2;
  }
  .header .nav {
    position: absolute;
    top: 100% !important;
    display: block !important;
    flex-direction: column;
    background-color: rgba(221, 234, 241, 0.6431372549);
    border-radius: 16px;
    width: 100%;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    transition-property: clip-path;
    transition: 0.4s linear;
  }
  .header .nav .nav-link {
    display: block;
    text-align: center;
    font-size: 2rem;
  }
  .header .nav .nav-link::after {
    display: none;
  }
  .header:has(#idtoggle:checked) .nav {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
  .header .toggle-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    order: 3;
    margin-right: 10px;
  }
  .sidebar {
    position: relative;
    padding: 0 !important;
  }
  .sidebar .heading {
    margin-top: 3rem;
    text-align: center;
  }
  .sidebar .nav {
    margin: 20px;
    flex-direction: row;
    justify-content: stretch;
    overflow-x: scroll;
  }
  .sidebar .nav .nav-item {
    font-size: 1.8rem;
    column-gap: 10px;
  }
  .sidebar .nav .nav-item span {
    display: block;
    min-width: 120px;
    color: rgba(0, 0, 0, 0.7607843137);
  }
  .sidebar .chat-btn {
    position: absolute;
    margin: 0;
    display: flex;
    align-items: start;
    transform: none;
    top: 0;
    left: 100%;
    transform: translateX(-100%);
    bottom: 0;
    height: 40px;
  }
  .sidebar .chat-btn p {
    display: none;
  }
}
@media screen and (max-width: 767px) {
  .wrapper-inner {
    padding: 12px;
    display: block;
  }
  .sidebar {
    position: relative;
    padding: 0 !important;
  }
  .sidebar .logo-link {
    width: 100px;
  }
  .sidebar .heading {
    margin-top: 2rem;
    font-size: 3.5rem;
    text-align: center;
  }
  .sidebar .nav {
    margin: 20px;
    flex-direction: row;
    justify-content: stretch;
    column-gap: 20px;
    overflow-x: scroll;
  }
  .sidebar .nav .nav-item {
    font-size: 1.8rem;
    column-gap: 10px;
  }
  .sidebar .nav .nav-item span {
    display: block;
    min-width: 120px;
    color: rgba(0, 0, 0, 0.7607843137);
  }
  .sidebar .chat-btn {
    position: absolute;
    margin: 0;
    display: flex;
    align-items: start;
    transform: none;
    top: 0;
    left: 100%;
    transform: translateX(-100%);
    bottom: 0;
    height: 40px;
  }
  .sidebar .chat-btn p {
    display: none;
  }
  .header {
    justify-content: center;
    align-items: center;
  }
  .header .search-form {
    margin: 0;
  }
  .header .nav {
    display: flex !important;
    position: absolute;
    top: -12px;
    column-gap: 10px !important;
  }
  .header .nav .nav-link {
    margin: 0 3rem;
    font-size: 1.9rem !important;
    color: rgba(0, 0, 0, 0.7607843137);
  }
  .main .wide {
    grid-column: span 4;
  }
  .main .tall {
    grid-column: span 2;
  }
}
@media screen and (max-width: 1199px) {
  .wrapper-inner {
    padding-inline: 1.5rem;
  }
  .header {
    position: relative;
  }
  .header .nav {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: absolute;
    top: 65%;
    column-gap: 6rem;
  }
  .header .nav .nav-link {
    font-size: 2.2rem;
    color: rgba(0, 0, 0, 0.7333333333);
  }
  .toggle-nav {
    cursor: pointer;
  }
  .sidebar {
    padding-left: 30px;
  }
  .sidebar .nav {
    margin-bottom: 0;
  }
  .main {
    margin-top: 20px;
  }
}

/*# sourceMappingURL=style.css.map */
