@use "../../partials/mixin";
.protect-greenchop {
  margin-top: 100px;
  padding-bottom: 125px;
  position: relative;
  &::after {
    content: "";
    z-index: -1;
    position: relative;
    width: 100%;
    height: 360.833px;
    position: absolute;
    left: 0;
    top: 326.69px;
    background-color: #fff0e7;
  }
  .protect-content {
    color: #2c2c2c;
    h2 {
      text-align: center;
      font-size: 31.667px;
      font-style: normal;
      font-weight: 800;
      line-height: 41.649px;
      max-width: 35%;
      margin: 0 auto;
    }
    p {
      margin: 24.33px auto 50px;
      text-align: center;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 20.417px;
      max-width: 45%;
    }
  }
  article {
    align-self: auto;
    height: 100%;
    border-radius: 8.333px;
    box-shadow: 0px 1.667px 8.333px 0px rgba(0, 0, 0, 0.15);
    background: #fff;
    width: 345.833px;
    height: 360px;
    display: flex;
    flex-direction: column;
    padding-bottom: 1rem;
    &.protect-item-2 {
      .wrapper-item-protect {
        &:last-child {
          p {
            padding-inline: 27.5px 18.33px;
          }
        }
      }
    }
    .wrapper-item-protect {
      &:nth-child(2) {
        margin-top: 24.17px;
        h3 {
          color: #e05000;
          text-shadow: 0px 3.333px 3.333px rgba(0, 0, 0, 0.25);
          font-size: 20px;
          font-style: normal;
          font-weight: 600;
          line-height: 26.667px;
          padding-inline: 27.5px 38.33px;
        }
      }
      &:last-child {
        p {
          color: #19191b;
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: 20.417px;
          padding-inline: 27.5px 86.56px;
        }
      }
    }
  }
}

@include mixin.screenXL() {
  .protect-greenchop {
    &::after {
      display: none;
    }
    .protect-content {
      h2 {
        max-width: 40%;
      }
    }
  }
}
@include mixin.screenMD() {
  .protect-greenchop {
    .protect-content {
      h2 {
        font-size: 29.667px;
        max-width: 70%;
      }
      p {
        font-size: 1.5rem;
        max-width: 85%;
      }
    }
  }
}
