@use "../../partials/variables";
@use "../../partials/mixin";
.product-greenchop {
  margin-top: 214px;
  .product-content {
    h2 {
      color: variables.$content;
      text-align: center;
      font-size: 31.667px;
      font-style: normal;
      font-weight: 800;
      line-height: 41.649px;
      margin-bottom: 50.02px;
    }
  }
  article {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    &::after {
      content: "";
      position: absolute;
      z-index: -1;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 269.316px;
      height: 269.316px;
      border-radius: 50%;
      background-color: #ffba94;
    }
    &.art-product-item-2 {
      &::after {
        background-color: #c5ffa8;
      }
    }
    .wrapper-item-product {
      &:first-child {
        margin-top: 114.64px;
      }
      &:nth-child(2) {
        margin-top: 17px;
        h3 {
          text-align: center;
          font-size: 23.333px;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
        }
      }
      &:nth-child(3) {
        margin-block: 12.81px 16.67px;
      }
      &:nth-child(4) {
        text-align: center;
        p {
          color: variables.$content;
          font-size: 16.667px;
          font-style: normal;
          font-weight: 400;
          line-height: 21.667px;
          &:first-child {
            color: #656565;
          }
          span {
            color: variables.$content;
            font-size: 23.333px;
            font-style: normal;
            font-weight: 600;
            line-height: 26.667px;
          }
        }
      }
      &:last-child {
        margin-top: 31px;
        button {
          display: inline-flex;
          padding: 13.333px 11.667px;
          justify-content: center;
          align-items: center;
          gap: 8.333px;
          border-radius: 6.667px;
          background: #46b20f;
          color: white;
          text-align: center;
          font-size: 16.667px;
          font-weight: 700;
          line-height: normal;
          transition: background-color 0.2s linear;
          &:hover {
            background: #ff6916;
          }
        }
      }
    }
  }
}

@include mixin.screenLG() {
  .product-greenchop {
    margin-top: 10rem;
    article {
      &::after {
        display: none;
      }
      .wrapper-item-product {
        &:first-child {
          margin-top: 0;
        }
      }
    }
  }
}

@include mixin.screenMobile() {
  .product-greenchop {
    article {
      position: relative;
      .wrapper-item-product {
        &:nth-child(2) {
          flex: 9999;
          h3 {
            text-align: center;
            font-size: 1.9rem;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
          }
        }
        &:nth-child(4) {
          p {
            font-size: 1.6rem;
            line-height: 2.5rem;
            &:first-child {
              color: #656565;
            }
            span {
              font-size: 2rem;
              line-height: 2.6rem;
            }
          }
        }
        &:last-child {
          flex: 9;
          display: flex;
          flex-direction: column;
          justify-content: end;
          button {
            padding: 13.333px 9.667px;
            font-size: 1.5rem;
          }
        }
      }
    }
  }
}
