.align-items-center {
  align-items: center;
}

.align-items-stretch {
  align-items: stretch;
}

.row-gap-product {
  row-gap: 96px;
}

.row-gap-function {
  row-gap: 38.83px;
}

.margin-0-auto {
  margin: 0 auto;
}

.reset-col-space {
  padding: 0;
}
