/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

a {
  text-decoration: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.align-items-center {
  align-items: center;
}

.row-gap-product {
  row-gap: 96px;
}

.row-gap-function {
  row-gap: 38.83px;
}

.margin-0-auto {
  margin: 0 auto;
}

.reset-col-space {
  padding: 0;
}

.header-nav {
  box-shadow: 0px 1.667px 8.333px 0px rgba(0, 0, 0, 0.15);
}
.header-nav .logo-greenchop .image-logo {
  width: 105px;
  height: 73px;
}
.header-nav .header-content {
  display: flex;
  gap: 5rem;
  padding-top: 52px;
  float: right;
}
.header-nav .header-content .navbar {
  display: flex;
  align-items: center;
}
.header-nav .header-content .navbar .menu-item ul {
  display: flex;
  gap: 5rem;
}
.header-nav .header-content .navbar .menu-item ul > li {
  padding-bottom: 35px;
  position: relative;
}
.header-nav .header-content .navbar .menu-item ul > li:hover > a {
  color: #46b20f;
}
.header-nav .header-content .navbar .menu-item ul > li:hover::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  translate: 0 -100%;
  width: 100%;
  height: 3px;
  background-color: #46b20f;
}
.header-nav .header-content .navbar .menu-item ul > li > a {
  text-transform: capitalize;
  color: #2c2c2c;
  font-size: 17px;
  font-style: normal;
  font-weight: 600;
  line-height: 22px;
}
.header-nav .header-content .form-act {
  display: flex;
  gap: 5rem;
}
.header-nav .header-content .form-act .wrapper-item {
  cursor: pointer;
}
.header-nav .header-content .form-act .frame-icon {
  position: relative;
}
.header-nav .header-content .form-act .frame-icon::after {
  content: "3";
  position: absolute;
  bottom: 100%;
  left: 100%;
  transform: translate(-50%, 50%);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10.833px;
  font-weight: 500;
  line-height: 20.417px;
  color: white;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background: #e05000;
}

.foo-greenchop {
  background-color: #f2ffec;
  padding-block: 63.92px 26.67px;
  margin-top: 106.5px;
  position: relative;
}
.foo-greenchop::after {
  content: "";
  position: absolute;
  top: 290px;
  left: 50%;
  transform: translateX(-50%);
  width: 975px;
  height: 1px;
  background-color: #a3a3a3;
}
.foo-greenchop .foo-greenchop-top article h2 {
  color: #46b20f;
  font-size: 16.667px;
  font-style: normal;
  font-weight: 600;
  line-height: 21.667px;
  margin-bottom: 13px;
}
.foo-greenchop .foo-greenchop-top article a {
  color: #2c2c2c;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 21.417px;
  display: inline-flex;
  align-items: flex-start;
  gap: 10px;
}
.foo-greenchop .foo-greenchop-top article a span {
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
}
.foo-greenchop .foo-greenchop-top article a:hover {
  color: #46b20f;
}
.foo-greenchop .foo-greenchop-top article .wrapper-item-foo:last-child {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
}
.foo-greenchop .foo-greenchop-top article.foo-item-1 {
  padding-left: 100.83px;
}
.foo-greenchop .foo-greenchop-top article.foo-item-1 .wrapper-item-foo:last-child {
  margin-top: 24.56px;
  color: #2c2c2c;
}
.foo-greenchop .foo-greenchop-top article.foo-item-1 .wrapper-item-foo:last-child p {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20.417px;
}
.foo-greenchop .foo-greenchop-top article.foo-item-1 .wrapper-item-foo:last-child p span {
  font-size: 13.333px;
  font-style: normal;
  font-weight: 400;
  line-height: 20.417px;
}
.foo-greenchop .foo-greenchop-top article.foo-item-2 {
  padding-left: 100px;
}
.foo-greenchop .foo-greenchop-top article.foo-item-4 {
  padding-right: 90px;
}
.foo-greenchop .foo-greenchop-bottom {
  margin-top: 96.67px;
}
.foo-greenchop .foo-greenchop-bottom article {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.foo-greenchop .foo-greenchop-bottom article .social-network {
  display: flex;
  align-items: center;
  gap: 20px;
}
.foo-greenchop .foo-greenchop-bottom article .social-network a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #dcffca;
}
.foo-greenchop .foo-greenchop-bottom article .social-network a:hover {
  background-color: white;
}

.hero {
  position: relative;
  display: flex;
  align-items: center;
  height: 708.333px;
}
.hero .hero-content {
  color: #2c2c2c;
}
.hero .hero-content .wrapper-item-hero:last-child {
  margin-top: 2rem;
}
.hero .hero-content h3 {
  width: 90%;
  font-size: 36.667px;
  font-style: normal;
  font-weight: 800;
  line-height: 50px;
}
.hero .hero-content h2 {
  width: 65%;
  font-size: 43.333px;
  font-style: normal;
  font-weight: 800;
  line-height: 52px;
}
.hero .hero-content p {
  width: 78%;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}
.hero .hero-image {
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  transform: translateX(-227.6px);
}
.hero .hero-image-content {
  display: inline-block;
  position: absolute;
  width: 676.141px;
  z-index: 1;
  top: 55px;
  right: 34.17px;
  transform-origin: bottom;
  transform: rotate(90deg);
}
.hero .hero-image-content h1 {
  font-size: 166.667px;
  color: rgba(34, 96, 0, 0.1411764706);
  font-style: normal;
  font-weight: 800;
  line-height: 166.667px;
}
.hero .hero-overlay {
  position: absolute;
  z-index: 0;
  top: 0;
  right: 0;
  width: 776px;
  height: 708px;
  border-top-left-radius: 16.7px;
  border-bottom-left-radius: 16.7px;
  background-color: #dcffca;
}

.product-greenchop {
  margin-top: 214px;
}
.product-greenchop .product-content h2 {
  color: #2c2c2c;
  text-align: center;
  font-size: 31.667px;
  font-style: normal;
  font-weight: 800;
  line-height: 41.649px;
  margin-bottom: 50.02px;
}
.product-greenchop article {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.product-greenchop article::after {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 269.316px;
  height: 269.316px;
  border-radius: 50%;
  background-color: #ffba94;
}
.product-greenchop article.art-product-item-2::after, .product-greenchop article.art-product-item-5::after {
  background-color: #c5ffa8;
}
.product-greenchop article .wrapper-item-product:first-child {
  margin-top: 114.64px;
}
.product-greenchop article .wrapper-item-product:first-child img {
  width: 240.117px;
  height: 241.148px;
}
.product-greenchop article .wrapper-item-product:nth-child(2) {
  margin-top: 17px;
}
.product-greenchop article .wrapper-item-product:nth-child(2) h3 {
  text-align: center;
  font-size: 23.333px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.product-greenchop article .wrapper-item-product:nth-child(3) {
  margin-block: 12.81px 16.67px;
}
.product-greenchop article .wrapper-item-product:nth-child(4) {
  text-align: center;
}
.product-greenchop article .wrapper-item-product:nth-child(4) p {
  color: #2c2c2c;
  font-size: 16.667px;
  font-style: normal;
  font-weight: 400;
  line-height: 21.667px;
}
.product-greenchop article .wrapper-item-product:nth-child(4) p:first-child {
  color: #656565;
}
.product-greenchop article .wrapper-item-product:nth-child(4) p span {
  color: #2c2c2c;
  font-size: 23.333px;
  font-style: normal;
  font-weight: 600;
  line-height: 26.667px;
}
.product-greenchop article .wrapper-item-product:last-child {
  margin-top: 31px;
}
.product-greenchop article .wrapper-item-product:last-child button {
  display: inline-flex;
  padding: 13.333px 11.667px;
  justify-content: center;
  align-items: center;
  gap: 8.333px;
  border-radius: 6.667px;
  background: #46b20f;
  color: white;
  text-align: center;
  font-size: 16.667px;
  font-weight: 700;
  line-height: normal;
}

.introduce {
  margin-top: 100px;
}
.introduce .introduce-content {
  margin: 0 auto 115px;
  text-align: center;
  color: #2c2c2c;
}
.introduce .introduce-content .wrapper-item-introduce:last-child {
  margin-top: 24.33px;
}
.introduce .introduce-content h2 {
  font-size: 31.667px;
  font-style: normal;
  font-weight: 800;
  width: 558px;
  line-height: 41.649px;
}
.introduce .introduce-content p {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20.417px;
  width: 643.333px;
}
.introduce article {
  padding-top: 33.33px;
  padding-left: 33.33px;
  box-shadow: -5.833px 8.333px 72.5px 0px rgba(54, 54, 54, 0.12);
}
.introduce article h3 {
  color: #2c2c2c;
  font-size: 43.333px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}
.introduce article p {
  color: #2c2c2c;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 30.833px;
}
.introduce article .wrapper-item-introduce:first-child {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 83.3px;
  height: 83.3px;
  border-radius: 10px;
  background-color: #fff0e7;
}
.introduce article .wrapper-item-introduce:nth-child(2), .introduce article .wrapper-item-introduce:last-child {
  margin-top: 23.33px;
}
.introduce article.introduce-item-2 {
  margin: 0 auto;
  width: 343px;
  height: 393px;
}
.introduce article.introduce-item-2 .wrapper-item-introduce:first-child {
  background-color: #f2ffec;
}
.introduce article.introduce-item-1 {
  position: relative;
  margin-left: auto;
  margin-top: 27.5px;
  width: 294px;
  height: 338px;
  background-color: white;
}
.introduce article.introduce-item-1::after {
  content: "";
  position: absolute;
  z-index: -1;
  width: 235px;
  height: 235px;
  top: -118px;
  left: -118px;
  border-radius: 50%;
  background-color: #dcffca;
}
.introduce article.introduce-item-3 {
  position: relative;
  margin-right: auto;
  margin-top: 27.5px;
  width: 294px;
  height: 338px;
  background-color: white;
}
.introduce article.introduce-item-3::after {
  content: "";
  position: absolute;
  z-index: -1;
  width: 235px;
  height: 235px;
  bottom: 0;
  right: 0;
  transform-origin: top left;
  transform: translate(112.67px, 141.7px);
  border-radius: 50%;
  background-color: #ffd5bd;
}

.news {
  margin-top: 130px;
  color: #2c2c2c;
}
.news .news-content {
  color: #2c2c2c;
}
.news .news-content h2 {
  text-align: center;
  font-size: 31.667px;
  font-style: normal;
  font-weight: 800;
  line-height: 41.649px;
}
.news .news-content p {
  margin: 23px auto 28.83px;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20.417px;
  width: 56%;
}
.news article .wrapper-item-news {
  margin-top: 16.27px;
}
.news article .wrapper-item-news:first-child {
  max-height: 273.333px;
}
.news article .wrapper-item-news:nth-child(2) {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.news article .wrapper-item-news:nth-child(2) p {
  color: #46b20f;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.news article .wrapper-item-news:nth-child(2) .time {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 10px;
}
.news article .wrapper-item-news:nth-child(2) .time p {
  color: #a3a3a3;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.news article .wrapper-item-news:nth-child(3) p {
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 26.667px; /* 133.333% */
}
.news article .wrapper-item-news:last-child p {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20.417px;
}
.news .btn-more {
  margin-top: 79.67px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.news .btn-more button {
  display: flex;
  cursor: pointer;
  padding: 11.667px 21.667px;
  justify-content: center;
  align-items: center;
  gap: 3.333px;
  border-radius: 6.667px;
  border: 0.833px solid #46b20f;
  background-color: transparent;
  transition: background-color 0.2s linear;
}
.news .btn-more button:hover {
  background-color: #46b20f;
  color: white;
}

.protect-greenchop {
  margin-top: 100px;
  padding-bottom: 125px;
  position: relative;
}
.protect-greenchop::after {
  content: "";
  z-index: -1;
  position: relative;
  width: 100%;
  height: 360.833px;
  position: absolute;
  left: 0;
  top: 326.69px;
  background-color: #fff0e7;
}
.protect-greenchop .protect-content {
  color: #2c2c2c;
}
.protect-greenchop .protect-content h2 {
  text-align: center;
  font-size: 31.667px;
  font-style: normal;
  font-weight: 800;
  line-height: 41.649px;
  max-width: 35%;
  margin: 0 auto;
}
.protect-greenchop .protect-content p {
  margin: 24.33px auto 50px;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20.417px;
  max-width: 45%;
}
.protect-greenchop article {
  border-radius: 8.333px;
  background: #fff;
  width: 345.833px;
  height: 359.167px;
}
.protect-greenchop article.protect-item-1 {
  margin-left: auto;
}
.protect-greenchop article.protect-item-2 {
  margin-inline: auto;
}
.protect-greenchop article.protect-item-2 .wrapper-item-protect:last-child p {
  padding-inline: 27.5px 18.33px;
}
.protect-greenchop article.protect-item-3 {
  margin-right: auto;
}
.protect-greenchop article .wrapper-item-protect:first-child img {
  max-width: 345.833px;
}
.protect-greenchop article .wrapper-item-protect:nth-child(2) {
  margin-top: 24.17px;
}
.protect-greenchop article .wrapper-item-protect:nth-child(2) h3 {
  color: #e05000;
  text-shadow: 0px 3.333px 3.333px rgba(0, 0, 0, 0.25);
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 26.667px;
  padding-inline: 27.5px 38.33px;
}
.protect-greenchop article .wrapper-item-protect:last-child p {
  color: #19191b;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20.417px;
  padding-inline: 27.5px 86.56px;
}

.function-greenchop {
  margin-top: 133.31px;
}
.function-greenchop article {
  display: flex;
  gap: 15.833px;
  color: #2c2c2c;
}
.function-greenchop article.function-item-1 {
  padding-left: 108.33px;
}
.function-greenchop article.function-item-2 {
  padding-inline: 52.5px;
}
.function-greenchop article.function-item-3 {
  padding-right: 108.33px;
}
.function-greenchop article .wrapper-item-function:last-child {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 6.667px;
}
.function-greenchop article .wrapper-item-function:last-child h3 {
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 26.667px;
}
.function-greenchop article .wrapper-item-function:last-child p {
  font-size: 17px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.feedback-greenchop {
  margin-top: 133px;
}
.feedback-greenchop article.feedback-item-2 {
  margin-top: 55px;
}
.feedback-greenchop article.feedback-item-2 h2 {
  color: #2c2c2c;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 26.667px;
}
.feedback-greenchop article.feedback-item-2 .form-feedback {
  margin-top: 26px;
}
.feedback-greenchop article.feedback-item-2 .form-feedback .wrapper-item-feedback {
  margin-top: 22.67px;
}
.feedback-greenchop article.feedback-item-2 .form-feedback .wrapper-item-feedback:first-child input {
  display: inline-flex;
  padding: 13.333px 397.667px 13.333px 13.333px;
  align-items: center;
  gap: 8.333px;
  border-radius: 6.667px;
  border: 0.833px solid #a3a3a3;
}
.feedback-greenchop article.feedback-item-2 .form-feedback .wrapper-item-feedback:nth-child(2) {
  display: flex;
  justify-content: space-between;
}
.feedback-greenchop article.feedback-item-2 .form-feedback .wrapper-item-feedback:nth-child(2) input {
  display: flex;
  width: 286.667px;
  padding: 13.333px 176.667px 13.333px 13.333px;
  align-items: center;
  gap: 8.333px;
  border-radius: 6.667px;
  border: 0.833px solid #a3a3a3;
}
.feedback-greenchop article.feedback-item-2 .form-feedback .wrapper-item-feedback:nth-child(3) textarea {
  width: 100%;
  display: inline-flex;
  padding: 13.333px 0px 0px 13.333px;
  align-items: center;
  gap: 8.333px;
  border-radius: 6.667px;
  border: 0.833px solid #a3a3a3;
}
.feedback-greenchop article.feedback-item-2 .form-feedback .wrapper-item-feedback:last-child {
  display: flex;
  justify-content: flex-end;
}
.feedback-greenchop article.feedback-item-2 .form-feedback .wrapper-item-feedback:last-child button {
  display: flex;
  padding: 13.333px 64.165px;
  justify-content: center;
  align-items: center;
  gap: 8.333px;
  border-radius: 6.667px;
  background: #46b20f;
  color: #fff;
  text-align: center;
  font-size: 16.667px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Inter", sans-serif;
}

input,
button,
textarea,
select {
  outline: none;
  border: none;
  font-family: inherit;
}

button {
  cursor: pointer;
}

/*# sourceMappingURL=style.css.map */
