/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

a {
  text-decoration: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  max-width: 100%;
  height: auto;
}

.align-items-center {
  align-items: center;
}

.justify-content-center {
  justify-content: center;
}

.align-items-stretch {
  align-items: stretch;
}

.row-gap-product {
  row-gap: 9.6rem;
}

.row-gap-introduce {
  row-gap: 6rem;
}

.row-gap-function {
  row-gap: 38.83px;
}

.gap-news {
  gap: 23.33px;
}

.gap-protect {
  gap: 25px;
}

.row-gap-foo-top {
  row-gap: 25px;
}

.margin-0-auto {
  margin: 0 auto;
}

.reset-col-space {
  padding: 0;
}

.reset-col-space-mg {
  margin: 0;
}

.position-relative {
  position: relative;
}

.header-nav {
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  background-color: white;
  box-shadow: 0px 1.667px 8.333px 0px rgba(0, 0, 0, 0.15);
}
.header-nav .logo-greenchop .image-logo {
  width: 105px;
}
.header-nav .header-content {
  display: flex;
  gap: 5rem;
  padding-top: 52px;
  float: right;
}
.header-nav .header-content .navbar {
  display: flex;
  align-items: center;
}
.header-nav .header-content .navbar .menu-item h2 {
  display: none;
}
.header-nav .header-content .navbar .menu-item ul {
  display: flex;
  gap: 5rem;
}
.header-nav .header-content .navbar .menu-item ul > li {
  padding-bottom: 35px;
  position: relative;
}
.header-nav .header-content .navbar .menu-item ul > li:hover > a {
  color: #46b20f;
}
.header-nav .header-content .navbar .menu-item ul > li:hover::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  translate: 0 -100%;
  width: 100%;
  height: 3px;
  background-color: #46b20f;
}
.header-nav .header-content .navbar .menu-item ul > li > a {
  text-transform: capitalize;
  color: #2c2c2c;
  font-size: 17px;
  font-style: normal;
  font-weight: 600;
  line-height: 22px;
}
.header-nav .header-content .form-act {
  display: flex;
  gap: 5rem;
}
.header-nav .header-content .form-act .wrapper-item {
  cursor: pointer;
}
.header-nav .header-content .form-act .frame-icon {
  position: relative;
}
.header-nav .header-content .form-act .frame-icon::after {
  content: "3";
  position: absolute;
  bottom: 100%;
  left: 100%;
  transform: translate(-50%, 50%);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10.833px;
  font-weight: 500;
  line-height: 20.417px;
  color: white;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background: #e05000;
}
.header-nav .header-content .menu-toggler {
  display: none;
}
.header-nav::after {
  content: "";
  display: block;
  clear: both;
}

@media screen and (max-width: 991px) {
  body:has(#idtoggler:checked) .overlay {
    opacity: 1;
    visibility: visible;
  }
  .header-nav {
    padding-inline: 10px;
  }
  .header-nav .header-content {
    padding: 0;
    justify-content: center;
    align-items: center;
  }
  .header-nav .header-content #idtoggler:checked ~ .navbar .menu-item {
    box-shadow: 0px 1.667px 8.333px 0px rgba(0, 0, 0, 0.15);
    transform: translateX(0);
  }
  .header-nav .header-content .navbar .menu-item {
    position: fixed;
    transform: translate(-100%, 0);
    transition: transform 0.3s linear;
    z-index: 99;
    top: 0;
    left: 0;
    height: 100vh;
    width: 32rem;
    background: white;
  }
  .header-nav .header-content .navbar .menu-item h2 {
    display: block;
    font-size: 4.8rem;
    text-transform: uppercase;
    color: #46b20f;
    font-weight: 800;
    padding-block: 30.5px;
    text-align: center;
    background: linear-gradient(90deg, rgb(83, 225, 47) 0%, rgb(58, 248, 51) 50%, rgb(92, 255, 141) 100%);
  }
  .header-nav .header-content .navbar .menu-item ul {
    flex-direction: column;
    gap: 0;
  }
  .header-nav .header-content .navbar .menu-item ul > li {
    padding: 30px 0 30px 45px;
  }
  .header-nav .header-content .navbar .menu-item ul > li:hover a {
    padding-left: 30px;
  }
  .header-nav .header-content .navbar .menu-item ul > li > a {
    font-size: 2.3rem;
    transition: padding 0.4s linear;
  }
  .header-nav .header-content .form-act {
    padding-block: 41.3px;
  }
  .header-nav .header-content .menu-toggler {
    display: block;
  }
  .header-nav .header-content .menu-toggler .toggler-icon {
    font-size: 6vw;
    color: rgba(70, 178, 15, 0.7882352941);
  }
}
.foo-greenchop {
  background-color: #f2ffec;
  padding-block: 63.92px 26.67px;
  margin-top: 106.5px;
  position: relative;
}
.foo-greenchop::after {
  content: "";
  position: absolute;
  top: 290px;
  left: 50%;
  transform: translateX(-50%);
  width: 975px;
  height: 1px;
  background-color: #a3a3a3;
}
.foo-greenchop .foo-greenchop-top article h2 {
  color: #46b20f;
  font-size: 16.667px;
  font-style: normal;
  font-weight: 600;
  line-height: 21.667px;
  margin-bottom: 13px;
}
.foo-greenchop .foo-greenchop-top article a {
  color: #2c2c2c;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 21.417px;
  display: inline-flex;
  align-items: flex-start;
  gap: 10px;
}
.foo-greenchop .foo-greenchop-top article a span {
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
}
.foo-greenchop .foo-greenchop-top article a:hover {
  color: #46b20f;
}
.foo-greenchop .foo-greenchop-top article .wrapper-item-foo:last-child {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
}
.foo-greenchop .foo-greenchop-top article.foo-item-1 {
  padding-left: 100.83px;
}
.foo-greenchop .foo-greenchop-top article.foo-item-1 .wrapper-item-foo:last-child {
  margin-top: 24.56px;
  color: #2c2c2c;
}
.foo-greenchop .foo-greenchop-top article.foo-item-1 .wrapper-item-foo:last-child p {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20.417px;
}
.foo-greenchop .foo-greenchop-top article.foo-item-1 .wrapper-item-foo:last-child p span {
  font-size: 13.333px;
  font-style: normal;
  font-weight: 400;
  line-height: 20.417px;
}
.foo-greenchop .foo-greenchop-top article.foo-item-2 {
  padding-left: 100px;
}
.foo-greenchop .foo-greenchop-top article.foo-item-4 {
  padding-right: 90px;
}
.foo-greenchop .foo-greenchop-bottom {
  margin-top: 96.67px;
}
.foo-greenchop .foo-greenchop-bottom article {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.foo-greenchop .foo-greenchop-bottom article .social-network {
  display: flex;
  align-items: center;
  gap: 20px;
}
.foo-greenchop .foo-greenchop-bottom article .social-network a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #dcffca;
}
.foo-greenchop .foo-greenchop-bottom article .social-network a:hover {
  background-color: #ff6916;
}

@media screen and (max-width: 1199px) {
  .foo-greenchop::after {
    display: none;
  }
  .foo-greenchop .foo-greenchop-top {
    border-bottom: #a3a3a3 1px solid;
    padding-bottom: 2rem;
  }
  .foo-greenchop .foo-greenchop-top article.foo-item-2 {
    padding-left: 75px;
  }
  .foo-greenchop .foo-greenchop-bottom {
    margin-top: 50.67px;
  }
}
@media screen and (max-width: 991px) {
  .foo-greenchop .foo-greenchop-top {
    padding-inline: 5rem;
  }
  .foo-greenchop .foo-greenchop-top article.foo-item-1 {
    padding-left: 0;
  }
  .foo-greenchop .foo-greenchop-top article.foo-item-2 {
    padding-left: 0;
  }
  .foo-greenchop .foo-greenchop-top article.foo-item-3 {
    padding-left: 0;
  }
  .foo-greenchop .foo-greenchop-top article.foo-item-4 {
    padding-right: 0;
  }
}
@media screen and (max-width: 767px) {
  .foo-greenchop {
    padding-inline: 2rem;
  }
  .foo-greenchop .foo-greenchop-top {
    padding-inline: 5rem;
  }
  .foo-greenchop .foo-greenchop-top article.foo-item-1 {
    padding-left: 0;
  }
  .foo-greenchop .foo-greenchop-top article.foo-item-1 .wrapper-item-foo:last-child p {
    padding-right: 2rem;
  }
}
@media screen and (max-width: 575px) {
  .foo-greenchop .foo-greenchop-top {
    padding-inline: 0;
  }
  .foo-greenchop .foo-greenchop-bottom {
    margin-top: 36.67px;
  }
  .foo-greenchop .foo-greenchop-bottom article {
    flex-direction: column;
    justify-content: center;
    row-gap: 2rem;
  }
}
.hero {
  display: flex;
  align-items: center;
  overflow: hidden;
  margin-top: 11rem;
}
.hero .hero-content {
  color: #2c2c2c;
}
.hero .hero-content .wrapper-item-hero:last-child {
  margin-top: 2rem;
}
.hero .hero-content h3 {
  width: 90%;
  font-size: 3.6rem;
  font-style: normal;
  font-weight: 800;
  line-height: 5rem;
}
.hero .hero-content h2 {
  width: 70%;
  font-size: 4.3rem;
  font-style: normal;
  font-weight: 800;
  line-height: 5.2rem;
}
.hero .hero-content p {
  width: 78%;
  font-style: normal;
  font-weight: 400;
  line-height: 2rem;
}
.hero .hero-slogan {
  position: relative;
  width: 50vw;
  border-radius: 16.667px 0px 0px 16.667px;
  background-color: #dcffca;
}
.hero .hero-slogan img {
  position: relative;
  width: 45vw;
  right: 17.75%;
}
.hero .hero-slogan h1 {
  position: absolute;
  top: 55px;
  left: 96%;
  color: rgba(34, 96, 0, 0.1529411765);
  font-size: 10.4vw;
  font-style: normal;
  font-weight: 800;
  line-height: 100%;
  transform-origin: top left;
  transform: rotate(90deg);
}

@media screen and (max-width: 1399px) {
  .hero {
    padding-inline: 10px;
  }
  .hero .hero-content h3 {
    width: 90%;
    font-size: 3.5rem;
    line-height: 5rem;
  }
  .hero .hero-content h2 {
    width: 70%;
    font-size: 4.1rem;
    line-height: 5.2rem;
  }
  .hero .hero-content p {
    width: 78%;
    font-size: 1.6rem;
    line-height: 2rem;
  }
}
@media screen and (max-width: 1199px) {
  .hero .hero-content h3 {
    width: 90%;
    font-size: 3rem;
    line-height: 5rem;
  }
  .hero .hero-content h2 {
    width: 85%;
    font-size: 3.8rem;
    line-height: 5rem;
  }
  .hero .hero-content p {
    width: 78%;
    font-size: 1.4rem;
    line-height: 2rem;
  }
}
@media screen and (max-width: 991px) {
  .hero .hero-content {
    text-align: center;
  }
  .hero .hero-content h2,
  .hero .hero-content h3 {
    width: 100%;
  }
  .hero .hero-content .wrapper-item-hero:last-child {
    margin-top: 1rem;
  }
  .hero .hero-content .wrapper-item-hero:last-child p {
    margin: 0 auto;
    width: 65%;
    font-size: 1.6rem;
    /* padding-inline: 17rem; */
    text-align: center;
  }
  .hero .hero-slogan {
    width: 100%;
    border-radius: 0 16.667px 0 16.667px;
    margin: 2rem auto;
    clip-path: polygon(5% 0%, 100% 0, 100% 20%, 100% 90%, 95% 100%, 20% 100%, 0 100%, 0% 10%);
  }
  .hero .hero-slogan img {
    width: 40vw;
    left: 12%;
    right: 0;
    transform: rotate(90deg);
  }
  .hero .hero-slogan h1 {
    top: 2rem;
    left: 65%;
    font-size: 10vw;
    transform: rotate(45deg);
  }
}
@media screen and (max-width: 767px) {
  .hero .hero-content .wrapper-item-hero:last-child p {
    width: 90%;
  }
  .hero .hero-slogan {
    text-align: center;
  }
  .hero .hero-slogan img {
    position: static;
    width: 40vw;
  }
  .hero .hero-slogan h1 {
    position: static;
    font-size: 10vw;
    transform: none;
  }
}
@media screen and (max-width: 575px) {
  .hero .hero-content .wrapper-item-hero:first-child h3 {
    font-size: 5vw;
    line-height: 8vw;
  }
  .hero .hero-content .wrapper-item-hero:nth-child(2) h2 {
    font-size: 6vw;
    line-height: 10vw;
  }
  .hero .hero-content .wrapper-item-hero:last-child p {
    font-size: 1.3rem;
  }
}
.product-greenchop {
  margin-top: 214px;
}
.product-greenchop .product-content h2 {
  color: #2c2c2c;
  text-align: center;
  font-size: 31.667px;
  font-style: normal;
  font-weight: 800;
  line-height: 41.649px;
  margin-bottom: 50.02px;
}
.product-greenchop article {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.product-greenchop article::after {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 269.316px;
  height: 269.316px;
  border-radius: 50%;
  background-color: #ffba94;
}
.product-greenchop article.art-product-item-2::after {
  background-color: #c5ffa8;
}
.product-greenchop article .wrapper-item-product:first-child {
  margin-top: 114.64px;
}
.product-greenchop article .wrapper-item-product:nth-child(2) {
  margin-top: 17px;
}
.product-greenchop article .wrapper-item-product:nth-child(2) h3 {
  text-align: center;
  font-size: 23.333px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.product-greenchop article .wrapper-item-product:nth-child(3) {
  margin-block: 12.81px 16.67px;
}
.product-greenchop article .wrapper-item-product:nth-child(4) {
  text-align: center;
}
.product-greenchop article .wrapper-item-product:nth-child(4) p {
  color: #2c2c2c;
  font-size: 16.667px;
  font-style: normal;
  font-weight: 400;
  line-height: 21.667px;
}
.product-greenchop article .wrapper-item-product:nth-child(4) p:first-child {
  color: #656565;
}
.product-greenchop article .wrapper-item-product:nth-child(4) p span {
  color: #2c2c2c;
  font-size: 23.333px;
  font-style: normal;
  font-weight: 600;
  line-height: 26.667px;
}
.product-greenchop article .wrapper-item-product:last-child {
  margin-top: 31px;
}
.product-greenchop article .wrapper-item-product:last-child button {
  display: inline-flex;
  padding: 13.333px 11.667px;
  justify-content: center;
  align-items: center;
  gap: 8.333px;
  border-radius: 6.667px;
  background: #46b20f;
  color: white;
  text-align: center;
  font-size: 16.667px;
  font-weight: 700;
  line-height: normal;
  transition: background-color 0.2s linear;
}
.product-greenchop article .wrapper-item-product:last-child button:hover {
  background: #ff6916;
}

@media screen and (max-width: 991px) {
  .product-greenchop {
    margin-top: 10rem;
  }
  .product-greenchop article::after {
    display: none;
  }
  .product-greenchop article .wrapper-item-product:first-child {
    margin-top: 0;
  }
}
@media screen and (max-width: 575px) {
  .product-greenchop article {
    position: relative;
  }
  .product-greenchop article .wrapper-item-product:nth-child(2) {
    flex: 9999;
  }
  .product-greenchop article .wrapper-item-product:nth-child(2) h3 {
    text-align: center;
    font-size: 1.9rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  .product-greenchop article .wrapper-item-product:nth-child(4) p {
    font-size: 1.6rem;
    line-height: 2.5rem;
  }
  .product-greenchop article .wrapper-item-product:nth-child(4) p:first-child {
    color: #656565;
  }
  .product-greenchop article .wrapper-item-product:nth-child(4) p span {
    font-size: 2rem;
    line-height: 2.6rem;
  }
  .product-greenchop article .wrapper-item-product:last-child {
    flex: 9;
    display: flex;
    flex-direction: column;
    justify-content: end;
  }
  .product-greenchop article .wrapper-item-product:last-child button {
    padding: 13.333px 9.667px;
    font-size: 1.5rem;
  }
}
.introduce {
  margin-top: 100px;
}
.introduce .introduce-content {
  margin: 0 auto 115px;
  text-align: center;
  color: #2c2c2c;
}
.introduce .introduce-content .wrapper-item-introduce:last-child {
  margin-top: 24.33px;
}
.introduce .introduce-content h2 {
  font-size: 31.667px;
  font-style: normal;
  font-weight: 800;
  width: 37%;
  line-height: 41.649px;
}
.introduce .introduce-content p {
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 20.417px;
  width: 40%;
}
.introduce article {
  padding-top: 33.33px;
  padding-left: 33.33px;
  box-shadow: -5.833px 8.333px 72.5px 0px rgba(54, 54, 54, 0.12);
}
.introduce article h3 {
  color: #2c2c2c;
  font-size: 43.333px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}
.introduce article p {
  color: #2c2c2c;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 30.833px;
}
.introduce article .wrapper-item-introduce:first-child {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 83.3px;
  height: 83.3px;
  border-radius: 10px;
  background-color: #fff0e7;
}
.introduce article .wrapper-item-introduce:nth-child(2), .introduce article .wrapper-item-introduce:last-child {
  margin-top: 23.33px;
}
.introduce article.introduce-item-2 {
  margin: 0 auto;
  width: 343px;
  height: 393px;
}
.introduce article.introduce-item-2 .wrapper-item-introduce:first-child {
  background-color: #f2ffec;
}
.introduce article.introduce-item-1 {
  position: relative;
  margin-left: auto;
  margin-right: -10.16px;
  margin-top: 27.5px;
  width: 294px;
  height: 338px;
  background-color: white;
}
.introduce article.introduce-item-1::after {
  content: "";
  position: absolute;
  z-index: -1;
  width: 23.5rem;
  height: 23.5rem;
  top: -11.8rem;
  left: -11.8rem;
  border-radius: 50%;
  background-color: #dcffca;
}
.introduce article.introduce-item-3 {
  position: relative;
  margin-right: auto;
  margin-left: -10.16px;
  margin-top: 27.5px;
  width: 29.4rem;
  height: 33.8rem;
  background-color: white;
}
.introduce article.introduce-item-3::after {
  content: "";
  position: absolute;
  z-index: -1;
  width: 23.5rem;
  height: 23.5rem;
  bottom: 0;
  right: 0;
  transform-origin: top left;
  transform: translate(11.267rem, 14.17rem);
  border-radius: 50%;
  background-color: #ffd5bd;
}

@media screen and (max-width: 1199px) {
  .introduce .introduce-content .wrapper-item-introduce h2 {
    width: 55%;
  }
  .introduce .introduce-content .wrapper-item-introduce p {
    width: 50%;
  }
  .introduce article {
    padding-bottom: 85px;
    padding-right: 33.33px;
    margin: 0 auto !important;
  }
  .introduce article.introduce-item-1 {
    height: 100%;
  }
  .introduce article.introduce-item-1::after {
    display: none;
  }
  .introduce article.introduce-item-2 {
    width: 294px;
    height: 100%;
  }
  .introduce article.introduce-item-3 {
    height: 100%;
  }
  .introduce article.introduce-item-3::after {
    display: none;
  }
}
@media screen and (max-width: 991px) {
  .introduce .introduce-content .wrapper-item-introduce h2 {
    width: 75%;
  }
  .introduce .introduce-content .wrapper-item-introduce p {
    width: 60%;
  }
}
@media screen and (max-width: 767px) {
  .introduce {
    margin-top: 35px;
  }
  .introduce .introduce-content {
    margin: 0 auto 55px;
  }
  .introduce .introduce-content .wrapper-item-introduce h2 {
    width: 90%;
    font-size: 2.9rem;
  }
  .introduce .introduce-content .wrapper-item-introduce p {
    width: 80%;
    font-size: 1.5rem;
  }
  .introduce article {
    padding-block: 33.33px;
    padding-inline: 15px !important;
    max-width: 250px;
  }
  .introduce article h3 {
    font-size: 3rem;
    font-style: normal;
    font-weight: 800;
    line-height: 3.8rem;
  }
  .introduce article p {
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2.2rem;
  }
}
.news {
  margin-top: 130px;
  color: #2c2c2c;
}
.news .news-content {
  color: #2c2c2c;
}
.news .news-content h2 {
  text-align: center;
  font-size: 31.667px;
  font-style: normal;
  font-weight: 800;
  line-height: 41.649px;
}
.news .news-content p {
  margin: 23px auto 28.83px;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20.417px;
  width: 56%;
}
.news article {
  width: 383px;
  height: 100%;
}
.news article .wrapper-item-news {
  margin-top: 16.27px;
}
.news article .wrapper-item-news:first-child {
  max-height: 273.333px;
}
.news article .wrapper-item-news:nth-child(2) {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.news article .wrapper-item-news:nth-child(2) p {
  color: #46b20f;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.news article .wrapper-item-news:nth-child(2) .time {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 10px;
}
.news article .wrapper-item-news:nth-child(2) .time p {
  color: #a3a3a3;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.news article .wrapper-item-news:nth-child(3) p {
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 26.667px; /* 133.333% */
}
.news article .wrapper-item-news:last-child p {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20.417px;
}
.news .btn-more {
  margin-top: 79.67px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.news .btn-more button {
  display: flex;
  cursor: pointer;
  padding: 11.667px 21.667px;
  font-weight: 500;
  justify-content: center;
  align-items: center;
  gap: 3.333px;
  border-radius: 6.667px;
  border: 0.833px solid #46b20f;
  background-color: transparent;
  transition: background-color 0.2s linear;
}
.news .btn-more button:hover {
  background-color: #46b20f;
  color: white;
}

@media screen and (max-width: 991px) {
  .news .news-content p {
    width: 80%;
  }
}
@media screen and (max-width: 575px) {
  .news .news-content p {
    width: 85%;
  }
}
.protect-greenchop {
  margin-top: 100px;
  padding-bottom: 125px;
  position: relative;
}
.protect-greenchop::after {
  content: "";
  z-index: -1;
  position: relative;
  width: 100%;
  height: 360.833px;
  position: absolute;
  left: 0;
  top: 326.69px;
  background-color: #fff0e7;
}
.protect-greenchop .protect-content {
  color: #2c2c2c;
}
.protect-greenchop .protect-content h2 {
  text-align: center;
  font-size: 31.667px;
  font-style: normal;
  font-weight: 800;
  line-height: 41.649px;
  max-width: 35%;
  margin: 0 auto;
}
.protect-greenchop .protect-content p {
  margin: 24.33px auto 50px;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20.417px;
  max-width: 45%;
}
.protect-greenchop article {
  align-self: auto;
  height: 100%;
  border-radius: 8.333px;
  box-shadow: 0px 1.667px 8.333px 0px rgba(0, 0, 0, 0.15);
  background: #fff;
  width: 345.833px;
  height: 360px;
  display: flex;
  flex-direction: column;
  padding-bottom: 1rem;
}
.protect-greenchop article.protect-item-2 .wrapper-item-protect:last-child p {
  padding-inline: 27.5px 18.33px;
}
.protect-greenchop article .wrapper-item-protect:nth-child(2) {
  margin-top: 24.17px;
}
.protect-greenchop article .wrapper-item-protect:nth-child(2) h3 {
  color: #e05000;
  text-shadow: 0px 3.333px 3.333px rgba(0, 0, 0, 0.25);
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 26.667px;
  padding-inline: 27.5px 38.33px;
}
.protect-greenchop article .wrapper-item-protect:last-child p {
  color: #19191b;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20.417px;
  padding-inline: 27.5px 86.56px;
}

@media screen and (max-width: 1199px) {
  .protect-greenchop::after {
    display: none;
  }
  .protect-greenchop .protect-content h2 {
    max-width: 40%;
  }
}
@media screen and (max-width: 767px) {
  .protect-greenchop .protect-content h2 {
    font-size: 29.667px;
    max-width: 70%;
  }
  .protect-greenchop .protect-content p {
    font-size: 1.5rem;
    max-width: 85%;
  }
}
.function-greenchop {
  margin-top: 133.31px;
}
.function-greenchop article {
  display: flex;
  gap: 15.833px;
  color: #2c2c2c;
}
.function-greenchop article.function-item-1 {
  padding-left: 108.33px;
}
.function-greenchop article.function-item-2 {
  padding-inline: 52.5px;
}
.function-greenchop article.function-item-3 {
  padding-right: 108.33px;
}
.function-greenchop article .wrapper-item-function:last-child {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 6.667px;
}
.function-greenchop article .wrapper-item-function:last-child h3 {
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 26.667px;
}
.function-greenchop article .wrapper-item-function:last-child p {
  font-size: 17px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

@media screen and (max-width: 991px) {
  .function-greenchop {
    margin-top: 2rem;
    padding-inline: 3rem;
  }
  .function-greenchop article.function-item-1, .function-greenchop article.function-item-2, .function-greenchop article.function-item-3 {
    padding: 0;
  }
  .function-greenchop .wrapper-item-function:first-child img {
    min-width: 35px;
  }
  .function-greenchop .wrapper-item-function:last-child {
    padding-right: 2rem;
  }
  .function-greenchop .wrapper-item-function:last-child p {
    font-size: 1.6rem;
  }
}
.feedback-greenchop {
  margin-top: 133px;
}
.feedback-greenchop article.feedback-item-2 {
  margin-top: 55px;
}
.feedback-greenchop article.feedback-item-2 h2 {
  color: #2c2c2c;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 26.667px;
}
.feedback-greenchop article.feedback-item-2 .form-feedback {
  margin-top: 26px;
}
.feedback-greenchop article.feedback-item-2 .form-feedback .wrapper-item-feedback {
  margin-top: 22.67px;
}
.feedback-greenchop article.feedback-item-2 .form-feedback .wrapper-item-feedback:first-child input {
  display: inline-flex;
  width: 100%;
  padding-left: 13.333px;
  padding-block: 13.333px;
  align-items: center;
  gap: 8.333px;
  border-radius: 6.667px;
  border: 0.833px solid #a3a3a3;
}
.feedback-greenchop article.feedback-item-2 .form-feedback .wrapper-item-feedback:nth-child(2) {
  display: flex;
  justify-content: space-between;
}
.feedback-greenchop article.feedback-item-2 .form-feedback .wrapper-item-feedback:nth-child(2) input {
  display: flex;
  width: 49%;
  padding-left: 13.333px;
  padding-block: 13.333px;
  align-items: center;
  gap: 8.333px;
  border-radius: 6.667px;
  border: 0.833px solid #a3a3a3;
}
.feedback-greenchop article.feedback-item-2 .form-feedback .wrapper-item-feedback:nth-child(3) textarea {
  width: 100%;
  display: inline-flex;
  padding: 13.333px 0px 0px 13.333px;
  align-items: center;
  gap: 8.333px;
  border-radius: 6.667px;
  border: 0.833px solid #a3a3a3;
}
.feedback-greenchop article.feedback-item-2 .form-feedback .wrapper-item-feedback:last-child {
  display: flex;
  justify-content: flex-end;
}
.feedback-greenchop article.feedback-item-2 .form-feedback .wrapper-item-feedback:last-child button {
  display: flex;
  padding: 13.333px 64.165px;
  justify-content: center;
  align-items: center;
  gap: 8.333px;
  border-radius: 6.667px;
  background: #46b20f;
  color: #fff;
  text-align: center;
  font-size: 16.667px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  transition: background-color 0.2s linear;
}
.feedback-greenchop article.feedback-item-2 .form-feedback .wrapper-item-feedback:last-child button:hover {
  background-color: #ff6916;
}

@media screen and (max-width: 1199px) {
  .feedback-greenchop article.feedback-item-1 {
    text-align: center;
  }
  .feedback-greenchop article.feedback-item-2 {
    text-align: center;
    padding-inline: 13rem;
  }
}
@media screen and (max-width: 767px) {
  .feedback-greenchop article.feedback-item-2 {
    padding-inline: 2rem;
  }
  .feedback-greenchop article.feedback-item-2 h2 {
    font-size: 1.8rem;
  }
  .feedback-greenchop article.feedback-item-2 .form-feedback .wrapper-item-feedback:nth-child(2) {
    display: flex;
    flex-wrap: wrap;
    row-gap: 22.67px;
  }
  .feedback-greenchop article.feedback-item-2 .form-feedback .wrapper-item-feedback:nth-child(2) input {
    width: 100%;
  }
}
html {
  font-size: 62.5%;
}

body {
  position: relative;
  font-size: 1.6rem;
  font-family: "Inter", sans-serif;
}

input,
button,
textarea,
select {
  outline: none;
  border: none;
  font-family: inherit;
}

button {
  cursor: pointer;
}

.overlay {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  inset: 0;
  z-index: 5;
  background-color: transparent;
}

@media screen and (max-width: 991px) {
  main {
    padding: 0 10px;
  }
  body:has(#idtoggler:checked) .overlay {
    opacity: 1;
    visibility: visible;
  }
}

/*# sourceMappingURL=style.css.map */
