.flex-container{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    margin: 0 auto;
}

.timeline p{
    font-family: Inter;
    font-weight: 500;
    font-size: small;
    color: rgba(0, 0, 0, 0.505);
}

.icon i{
    width: 1.3rem;
    height: 1.3rem;
    font-size: x-small;
    background-color: #4aa294;
    color: #4aa294;
    display: inline-block;
    margin-block: 23px;
    box-shadow: 0 0 0 7px #4aa2936f;
    border-radius: 50%;
}

.timeline .content h2{
    font-family: "Space Grotesk";
    font-weight: 600;
    font-size: x-large;
    color: black;
    text-transform: capitalize;
    padding-block: 20px;
}

.timeline .content p{
    padding-bottom: 20px;
}

.timeline .content h3{
    display: inline-block;
    font-family: "Space Grotesk";
    font-weight: 600;
    font-size: small;
    color: rgba(0, 0, 0, 0.71);
    text-transform: capitalize;
    padding-block: 5px;
    padding-inline: 12px;
    background-color: #ddd;
    border-radius: 99px;
    transition: background-color 0.4s ease-in-out;
}

.year p{
    padding-block: 20px;
}

.main-timeline{
    display: flex;
    flex-direction: column;
    width: 600px;
}

.timeline{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-bottom: 30px;
}

.content{
    text-align: right;
    word-wrap: break-word;
    flex: 9;
    order: 1;
    /* transition-property: order;
    transition-duration: 0.5s; */
}

.icon{
    position: relative;
    text-align: center;
    flex: 2;
    order: 2;
}

.year{
    text-align: left;
    flex: 9;
    order: 3;
    /* transition-property: order;
    transition-duration: 0.5s; */
}

.icon::after{
    position: absolute;
    content: "";
    background-color: #dddddd7d;
    width: 2px;
    height: 85%;
    top: 40%;
    left: 50%;
}

.timeline:last-of-type .icon::after{
    visibility: hidden;
}

.timeline:hover .year{
    text-align: right;
    flex: 9;
    order: 1;
}

.timeline:hover .content{
    text-align: left;
    word-wrap: break-word;
    flex: 9;
    order: 3;
}

.timeline:hover .content h3{
    background-color: #a26f5a;
    color: white;
}

.image-content{
    margin-top: 20px;
    position: relative;
    width: 420px;
    height: 420px;
    background: url("../img/back.jpg") no-repeat 0 0 / cover;
}

.coverCard{
    width: 210px;
    height: 380px;
    position: absolute;
    background: url("../img/coverCard.jpg") no-repeat 0 0 / cover;
    left: -25%;
    top: 25%;
    z-index: 0;
    /* border: 1px solid red; */
    /* padding: 10px; */
}

.coverCard-title-transparent{
    font-family: "Space Grotesk";
    position: absolute;
    width: 210px;
    height: 380px;
    font-size: 6rem;
    font-weight: 700;
    line-height: 5.5rem;
    text-align: right;
    display: flex;
    flex-direction: column-reverse;
    justify-content: end;
    align-items: end;
    background: url("../img/coverCard.jpg") no-repeat 0 0 / cover;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    padding: 0px 45px 70px 0px;
    z-index: 2;
}

.overlay{
    position: absolute;
    width: 90%;
    height: 95%;
    background-color: #455eb2;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    z-index: 1;
}

.coverCard-title{
    font-size: Inter;
    position: absolute;
    font-size: small;
    color: white;
    top: 32rem;
    left: 7rem;
    z-index: 2;
}