@font-face {
    font-family: "Space Grotesk";
    src: url("../font/SpaceGrotesk-SemiBold.ttf");
    font-weight: 600;
}

@font-face {
    font-family: Inter;
    src: url("../font/Inter-Medium.ttf");
    font-weight: 500;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 62.5%;
    font-family: Inter,sans-serif;
    line-height: 1.6rem;
}