input,
button,
textarea,
select {
  outline: none;
  border: none;
  font-family: inherit;
}
body {
  display: flex;
  justify-content: center;
  background-color: #8758ff;
}

.todo-wrapper {
  background-color: #1a1a40;
  margin-top: 2rem;
  padding: 2rem 2rem 4rem;
  border-radius: 5px;
  h1 {
    line-height: 0;
    text-transform: capitalize;
    text-align: center;
    color: white;
    font-size: 2.3rem;
    padding-bottom: 2rem;
  }
  .form-task-today {
    display: flex;
    justify-content: center;
    align-items: center;
    input {
      width: 18rem;
      height: 2rem;
      border: 1px solid #8758ff;
      outline: none;
      background-color: #1a1a40;
      padding-inline: 1rem;
      color: white;
      font-size: 1.1rem;
    }
    button {
      width: 6rem;
      height: 2.23rem;
      padding-inline: 0.8rem;
      background-color: #8758ff;
      text-transform: capitalize;
      border: none;
      outline: none;
      color: white;
      font-size: 1rem;
      cursor: pointer;
    }
  }
  .todo-list {
    padding-top: 1rem;
    .form-task-edit {
      padding-top: 1rem;
      display: flex;
      justify-content: center;
      align-items: center;
      input {
        width: 18rem;
        height: 2rem;
        border: 1px solid #8758ff;
        outline: none;
        background-color: #1a1a40;
        padding-inline: 1rem;
        color: white;
        font-size: 1.1rem;
      }
      button {
        width: 6rem;
        height: 2.23rem;
        padding-inline: 0.8rem;
        background-color: #8758ff;
        text-transform: capitalize;
        border: none;
        outline: none;
        color: white;
        font-size: 1rem;
        cursor: pointer;
      }
    }
    p {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap;
      gap: 1rem;
      height: 2.8rem;
      padding-inline: 1rem;
      background-color: #8758ff;
      border-radius: 5px;
      font-size: 1.3rem;
      color: white;
      cursor: pointer;
      user-select: none;
      span {
        &.content {
          &.todo-Complete {
            text-decoration: line-through;
            color: #ddd;
          }
        }
        &:last-child {
          display: flex;
          gap: 0.8rem;
          font-size: 1rem;
        }
      }
    }
  }
}
