* {
    box-sizing: inherit;
  }
  
  html {
    /* 
      default browser ==>100% = 16px
      font-size: 100%; 
      font-size: 1rem; ==> 1rem = 16px
    
      ==> 62.5% = 10px
        font-size: 62.5%;
        fonts-size: 1.6rem; ==> 1.6rem = 16px
       */
  
    /* HACK */
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
  }
@font-face {
    font-family: AlfaSlabOne;
    src: url(../font/AlfaSlabOne-Regular.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: BebasNeue;
    src: url(../font/BebasNeue-Regular.ttf) format('truetype');
    font-weight: bold;
    font-style: normal;
}

.div-main{
    /* border: 2px solid red; */
    text-align: center;
}

.div-main h3{
    color: rgb(57, 38, 22);
    font-family: BebasNeue;
}

.div-main h1{
    color: rgb(57, 38, 22);
    font-family: AlfaSlabOne;
}

.div-main .section-form form table{
    margin: 0 auto;
    margin-top: -20px;
    border-spacing: 15px; /* Thuộc tính này dùng để thiết lập khoảng cách nằm giữa mỗi hai ô liền kề.*/
}

.div-main .section-form input{
    height: 30px;
    width: 200px;
    padding-left: 15px;
    font-family: BebasNeue;
}

.div-main .section-form input::placeholder{
    color: rgb(61, 61, 61);
    
}

.div-main .section-form button{
    border: rgb(176, 50, 43);
    padding-left: 15px;
    border-radius: 5px;
    height: 30px;
    width: 200px;
    border: none;
    color: white;
    background: rgb(176, 50, 43);
    font-family: AlfaSlabOne;
}