@use "../partials/variables";
@use "../partials/mixin";
// @use "../style.scss";

.header-nav {
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  background-color: white;
  box-shadow: 0px 1.667px 8.333px 0px rgba(0, 0, 0, 0.15);

  .logo-greenchop {
    .image-logo {
      width: 105px;
      // height: 73px;
    }
  }
  .header-content {
    display: flex;
    align-items: flex-start;
    gap: 5rem;
    padding-top: 52px;
    float: right;
    .navbar {
      display: flex;
      align-items: center;
      .menu-item {
        .wrapper-item {
          .wrapper-item-left,
          .wrapper-item-right {
            svg {
              display: none;
            }
          }
          // .wrapper-item-right {
          //   svg {
          //     display: none;
          //   }
          // }
        }
        ul {
          display: flex;
          gap: 5rem;
          > li {
            padding-bottom: 35px;
            position: relative;
            &:hover {
              > a {
                color: #46b20f;
              }
              &::after {
                content: "";
                position: absolute;
                top: 100%;
                left: 0;
                translate: 0 -100%;
                width: 100%;
                height: 3px;
                background-color: #46b20f;
              }
            }
            > a {
              text-transform: capitalize;
              color: variables.$content;
              // display: inline-flex;
              font-size: 17px;
              font-style: normal;
              font-weight: 600;
              line-height: 22px;
            }
          }
        }
      }
    }

    .form-act {
      display: flex;
      gap: 5rem;
      .wrapper-item {
        cursor: pointer;
      }
      .frame-icon {
        position: relative;
        &::after {
          content: "3";
          position: absolute;
          bottom: 100%;
          left: 100%;
          transform: translate(-50%, 50%);
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 10.833px;
          font-weight: 500;
          line-height: 20.417px;
          color: white;
          width: 14px;
          height: 14px;
          // border: 1px solid red;
          border-radius: 50%;
          background: #e05000;
        }
      }
    }
    .menu-toggler {
      display: none;
    }
  }
  &::after {
    content: "";
    display: block;
    clear: both;
  }
}
@include mixin.screenLG() {
  body {
    &:has(#idtoggler:checked) {
      .overlay {
        opacity: 1;
        visibility: visible;
      }
    }
  }
  .header-nav {
    padding-inline: 10px;
    .header-content {
      padding: 0;
      justify-content: center;
      align-items: center;
      #idtoggler {
        &:checked {
          ~ .navbar {
            .menu-item {
              box-shadow: 0px 1.667px 8.333px 0px rgba(0, 0, 0, 0.15);
              transform: translateX(0);
            }
          }
        }
      }
      .navbar {
        .menu-item {
          // padding-top: 2rem;
          .wrapper-item {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding-block: 3rem;
            padding-right: 1rem;
            border-bottom: 1px solid #ddd;
            .wrapper-item-left {
              display: flex;
              align-items: center;
              column-gap: 3rem;
              padding-left: 4.5rem;
              svg {
                display: block;
                &:hover {
                  fill: #46b20fc9;
                }
              }
            }
            .wrapper-item-right {
              svg {
                display: block;
                // margin: 1rem 1rem 0 0;
                width: 2.2rem;
                path {
                  fill-opacity: 0.7;
                }
                &:hover {
                  path {
                    fill: #46b20fc9;
                  }
                }
              }
            }
          }
          position: fixed;
          transform: translate(-100%, 0);
          transition: transform 0.3s linear;
          z-index: 99;
          bottom: 0;
          left: 0;
          height: calc(100vh - 108px);
          width: 30rem;
          background: white;
          ul {
            flex-direction: column;
            gap: 0;
            > li {
              padding: 30px 0 30px 45px;
              &:hover {
                a {
                  padding-left: 30px;
                }
              }
              > a {
                font-size: 1.8rem;
                transition: padding 0.4s linear;
              }
            }
          }
        }
      }
      .form-act {
        padding-block: 39.3px;
        .wrapper-item {
          svg {
            width: 3.5rem;
          }
        }
      }
      .menu-toggler {
        display: block;
        .toggler-icon {
          font-size: 3rem;
          color: #46b20fc9;
        }
      }
    }
  }
}

@include mixin.screenMobile {
  .header-nav {
    .header-content {
      .navbar {
        .menu-item {
          width: 65vw;
        }
      }
    }
  }
}
